{% load math_extras %}

<h2 class="text-2xl font-bold tracking-tight text-gray-900">Vehicle List</h2>


  <div class="mt-6 w-full">
    {% for vehicle in vehicles %}
      <div class="group relative flex my-4 border-b border-b-1 ">
          <div class="aspect-w-1 flex overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 mr-10">
              <img src="{{ vehicle.imagefield.url }}" alt="" class="" style="width: 150px; height:auto;">
          </div>
          <div class="mt-4 flex justify-between md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="/vehicle_detail/{{vehicle.id}}">
                  <span class=""></span>
                  {{vehicle.year}} {{vehicle.brand}}
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{vehicle.model}}</p>
            </div>
            <div><p class="text-sm font-medium text-gray-900">${{vehicle.price}}</p></div>
            <div><p class="text-sm font-medium text-gray-900">Pay at Pick up</p></div>
            <div>{% if vehicle.free_cancellation %}<p class="text-sm font-medium text-gray-900">Free Cancellation</p>{% endif %}</div>
            {% if vehicle.unlimited_milage %}
              <div><p class="text-sm font-medium text-gray-900">Unlimited Mileage</p></div>
            {% else %}
              <div><p class="text-sm font-medium text-gray-900">200 miels per day</p></div>
            {% endif %}
            {% if vehicle.rating %}<p class="text-sm font-medium text-gray-900">{{vehicle.rating}}</p>{%endif%}
            
            <!-- {% for code, name in getlax_us %}
            <p class="text-sm font-medium text-gray-900">${{name}}</p>
            {% endfor %} -->
          </div>
        </div>
        {% endfor %}
    </div>




